html
	box-sizing: border-box
	min-width: 320px

*, *:before, *:after
	box-sizing: inherit


body
	min-width: 100vw
	min-height: 100vh
	margin: 0 auto
	padding: 16px
	color: white
	background-color: $background-color
	display: flex
	flex-direction: column

header
	height: 14rem

	@include tablet
		margin-top: 32px

main
	margin: 32px auto

	@include tablet
		margin: 64px auto

// Typography
html
	font-size: 62.5%
	font-family: monospace

body
	font-size: 1.8rem
	line-height: 1.5


h1
	text-align: center
	font-size: 4rem
	margin-bottom: .5rem

h2
	font-size: 2.4rem
	font-weight: normal
	margin-bottom: 0.25rem

	a
		text-decoration: none

a
	color: $link-color
	font-style: italic

	&:hover
		font-weight: bold

small
	font-size: 60%

.spacer
	height: 8rem
